    .stylePNG
    {
        display:flex;
        position:absolute;
        flex-direction: column;
        top: 3%;
        left: 3%;
        width: 30%;
    }

    .buttonsClass
    {
        display: flex;
        position: absolute;
        flex-direction: row;
        top: 80%;
        left: 20%;
    }

    .nextIMG
    {
        border: none;
        background: transparent;
        width: 100px;
        cursor: pointer;
        border-radius: 60%;
    }

    .nextIMG:active
    {
        background-color: olivedrab;
        width: 90px;
    }

    .nextButton
    {
        display: flex;
        flex-direction: row;
        background: transparent;
        pointer-events: all;
        border-radius: 50%;
        left: 200px;
    }

    .prevIMG
    {
        border: none;
        background: transparent;
        width: 100px;
        cursor: pointer;
        border-radius: 60%;
    }

    .prevIMG:active
    {
        background-color: olivedrab;
        width: 90px;
    }

    .prevButton
    {
        display: flex;
        flex-direction: row;
        background: transparent;
        pointer-events: all;
        border-radius: 50%;
        left: 96px;
    }

    .resetIMG
    {
        border: none;
        background: transparent;
        width: 90px;
        cursor: pointer;
        border-radius: 55%;
    }

    .resetIMG:active
    {
        background-color: olivedrab;
        width: 80px;
    }

    .resetButton
    {
        display: flex;
        flex-direction: row;
        background: transparent;
        pointer-events: all;
        border-radius: 50%;
        left: 0px;
    }

@media only screen and (width >= 768px)
{
    .buttonsClass
    {
        left: 30%;
    }

    .stylePNG
    {
        display:flex;
        position:absolute;
        flex-direction: column;
        left:3%;
        top:3%;
        width: 20%;
    }

    #Logo-De-Dofi
    {
        max-width: 100%;
        max-height: 100%;
        aspect-ratio: width/height;
    }

    #Link-De-Dofi
    {
        pointer-events: all;
    }

    body
    {
        margin: 0;
        background-color: whitesmoke;
    }
}